.cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 273px;
  background-color: #363959;
}

.card-title {
  color: #ededf0;
  text-align: center;
}

.card-title,
h2 {
  margin: 2rem 0 1rem 0;
}

.cards-img {
  width: 100%;
}

.cards p {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 0.85rem;
  line-height: 1.2rem;
  color: #ededf0;
  padding: 1.2rem;
}

.read-more-text {
  margin-left: 1rem;
}

.read-more-text a::after {
  content: "";
  color: #0fff50;
}

.read-more-text a {
  font-size: 0.75rem;
  line-height: 1.2rem;
  color: #0fff50;
  text-decoration: underline;
}

.read-more-text a:hover {
  background-color: #008ea4;
  color: #202340;
}
