* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #363959;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 1vw;
  height: 1vh;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 320px;
  grid-template-areas:
    "header"
    "cards"
    "footer";
}

.container > header {
  grid-area: header;
}

.container > card {
  grid-area: cards;
}

.container > footer {
  grid-area: footer;
}
