.flex {
  display: flex;
}

.header {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lead {
  color: #fff;
  font-family: bely-display, sans-serif;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  padding: 0 1.5em 1.5em 0;
}
