/* Tablet size 600px to 900px*/
@media screen and (min-width: 37.5em) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .header {
    grid-column: 1 / 3;
  }

  .footer {
    grid-column: 1 / 3;
    grid-row: 5;
  }
}

/* Large screen sizes 901px and up*/
@media screen and (min-width: 56.3em) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }

  .header {
    grid-column: 1 / 5;
  }

  .footer {
    grid-column: 1 / 5;
    grid-row: 3;
  }
}
