@import url(footer.css);
@import url(media-query.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #363659;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* Grid */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 15px;
  justify-items: center;
  margin: 0 auto;
  background-color: #363659;
  color: white;
  padding: 15px;
}

.header {
  margin-left: 30px;
}

.header p {
  margin: 0 0 20px 180px;
}

.cards {
  padding: 15px;
  border: 1px solid #f9f9fa;
}

.card-link i,
a {
  color: #0fff50;
}

.footer {
  text-align: center;
}

/* Custom Classes */

/* 20px bottom margin */
.mb-20 {
  margin-bottom: 20px;
}
