@import url(footer.css);
@import url(media-query.css);
@import url(flex.css);
@import url(grid.css);
@import url(html-page.css);
@import url(navigation.css);
@import url(social-media.css);
@import url(blog.css);
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 400 1em "Raleway", sans-serif;
  background: #363659;
}

header h1 {
  margin-bottom: 1.5em;
}

.card-title {
  font-size: 2.5em;
}

.date {
  display: flex;
  color: rgba(249, 249, 250, 0.3);
  flex-direction: column;
  justify-content: right;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* 20px bottom margin */
.mb-20 {
  margin-bottom: 20px;
}

/* Make images responsive */
img {
  display: block;
  max-width: 100%;
}

figcaption {
  font-size: 0.65em;
}

.cards {
  margin: 0 auto;
  max-width: 300px;
  padding: 15px;
  background-color: #258;
  box-shadow: 5px 5px 10px;
}

.card-link i,
a {
  color: #0fff50;
}

.card-link a:hover {
  color: #ff1ad9;
}

.footer {
  text-align: center;
}
