@import url(footer.css);
@import url(media-query.css);
@import url(flex.css);
@import url(grid.css);
@import url(html-page.css);
@import url(navigation.css);
@import url(social-media.css);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #363659;
}

.card-title {
  font-size: 2.5em;
}

.header,
p {
  margin-bottom: 30px;
}

.date {
  display: flex;
  color: rgba(249, 249, 250, 0.3);
  flex-direction: row;
  justify-content: left;
  margin-bottom: 0.5em;
}

/* 20px bottom margin */
.mb-20 {
  margin-bottom: 20px;
}

/* Make images responsive */
img {
  display: block;
  max-width: 100%;
}

.cards {
  padding: 15px;
  background-color: #258;
  box-shadow: 5px 5px 10px;
}

.card-link i,
a {
  color: #0fff50;
}

.card-link a:hover {
  color: #ff1ad9;
}

.footer {
  text-align: center;
}
