@media (min-width: 600px) and (max-width: 900px) {
  .container {
    width: 1vw;
    height: 1vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1320px;
    grid-template-areas:
      "header header header"
      "cards cards cards"
      "footer footer footer";
  }

  .container > header {
    grid-area: header;
  }

  .container > card {
    grid-area: cards;
  }

  .container > footer {
    grid-area: footer;
  }
}
